.DS_STORE
*.DS_Store
code/__pycache__/*
.ipynb_checkpoints
# code/*.ipynb
code/Untitled.ipynb
data/external/*
!data/external/.gitkeep
data/features/*
!data/features/.gitkeep
data/figures/*
!data/figures/.gitkeep
data/raw/*
!data/raw/.gitkeep
data/submission/*
!data/submission/.gitkeep
data/interim/*
!data/interim/.gitkeep
logs/*
!logs/.gitkeep
models/*
!models/.gitkeep
notebooks/*
!notebooks/.gitkeep
!notebooks/EDA.ipynb
!notebooks/baseline.ipynb
!notebooks/install.ipynb
*.gsheet
*.bin
*.pt